.bg-color{
    background-color: #F4FAFD; !important
}
.img-bg{
    filter: brightness(50%);
} 
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
        overflow-y: hidden;
    }
    .my-image{
        height: 600px;
    }
    .dis-play{
        display: none;
    }
}
